on:
  push:
    branches:
      - "master"

# permissions:
#   contents: write
#   id-token: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master

      - name: Compile
        id: compile
        uses: rust-build/rust-build.action@v1.4.5
        with:
          RUSTTARGET: x86_64-unknown-linux-musl
          UPLOAD_MODE: none

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        with:
          tag_name: v1.0.5
          release_name: 'v1.0.5 Release'
          body: 'Release notes for v1.0.5'
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Set upload URL as output
        run: echo "UPLOAD_URL=${{ steps.create_release.outputs.upload_url }}" >> $GITHUB_OUTPUT

      - name: Upload artifact to release
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ${{ steps.compile.outputs.BUILT_ARCHIVE }}
          asset_name: gr.tar.gz
          asset_content_type: application/gzip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload checksum to release
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ${{ steps.compile.outputs.BUILT_CHECKSUM }}
          asset_name: gr.tar.gz.sha256
          asset_content_type: application/text
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

# on:
#   push:
#     branches:
#       - "master"
#
# permissions:
#   contents: write
#   id-token: write
#
# jobs:
#   build:
#     name: Build
#     runs-on: ubuntu-latest
#
#     steps:
#       - uses: actions/checkout@master
#
#       - name: Compile
#         id: compile
#         uses: rust-build/rust-build.action@v1.4.5
#         with:
#           RUSTTARGET: x86_64-unknown-linux-musl
#           UPLOAD_MODE: none
#
#       - name: Create Release
#         id: create_release
#         uses: actions/create-release@v1
#         env:
#           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#         with:
#           tag_name: v1.0.2  # Set the release tag here
#           release_name: 'v1.0.2 Release'  # Set the release name
#           body: 'Release notes for v1.0.2'  # Optional release notes
#           draft: false  # Set to true if you want the release to be a draft
#           prerelease: false  # Set to true if this is a pre-release
#
#       - name: Upload artifact to release
#         uses: actions/upload-release-asset@v1
#         env:
#           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#         with:
#           upload_url: ${{ steps.create_release.outputs.upload_url }}
#           asset_path: ${{ steps.compile.outputs.BUILT_ARCHIVE }}
#           asset_name: gr.tar.gz 
#           asset_content_type: application/gzip
#
#       - name: Upload checksum to release
#         uses: actions/upload-release-asset@v1
#         env:
#           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#         with:
#           upload_url: ${{ steps.create_release.outputs.upload_url }}
#           asset_path: ${{ steps.compile.outputs.BUILT_CHECKSUM }}
#           asset_name: gr.tar.gz.sha256
#           asset_content_type: application/text
